article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
   
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
small {
  font-size: 80%;
}
 a,  a:visited {
    text-decoration: underline;
  }
  img {
    max-width: 100% !important;
  }

  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
    .table td,
  .table th {
    background-color: #fff !important;
  }

  html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #5c595a;
  background-color: #dfe0d9;
}
a {
  color: #878179;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #5f5a55;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #dfe0d9;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a, a > code {
    color: #08f;
    font-weight: bold;
    text-decoration: none;
}

a:visited, a:visited > code {
    color: #88f;
}

a:hover, a > code:hover, a:visited:hover, a:visited > code:hover {
    color: #f00;
}


#multi_tabs_form {
    display:block;
width: 550px;
padding:20px;
border-radius:5px;
box-shadow: 3px 3px 25px 1px gray;
margin-bottom:20px; 
}


ul.peak-thumbs {
  margin: 0; padding: 0;
  list-style: none;
}

ul.peak-thumbs li {
    padding: 0;
  display: inline-block;
  margin: 0.35em;
  background-color: white;
}




ul.peak-thumbs img {
  height: 180px;
  width: 180px;
  padding: 0.7em;
}

ul.peak-thumbs span,p {
margin-left:1em;
}
.angular-google-map-container { 
   
    height: 400px; }

.form-inline {
   margin-bottom :20px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
